/*csslint order-alphabetical: false*/

body 
{
  font-family: 'Montserrat', sans-serif;
    padding: 50px 50px 50px 50px;
    background-color: #499CDD;
    color: white;
}
.welcome
{
    margin: 40px 0 40px 0;
    font-size: 30px;
    font-weight: 200;
}
.fo-menu
{
    background-color: #284c80;
    width: 800px;
    
    
}
.menupont
{
    background-color: #284c80;
    
    display: inline-block;
    
    text-align: center;
    
    
    padding: 20px 0 20px 0 ;
    margin-left:  20px;
    
    

    
}
.menupont:hover
{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.first
{
    font-size: 40px;
    color: rgb(237,245,255);
    margin-bottom: 5px;
}
.admin
{
    font-size: 14px;
    font-style: italic;
    color: #284c80;
    margin-bottom: 40px;
    margin-left: 10px;
}
.bevezeto
{
    width: 800px;
    line-height:1,7;
    color:white;
    font-size: 20px;
    margin-bottom: 40px;
        
    
}
.szoveg
{
    width: 800px;
    line-height:1,7;
    color:white;
    font-size: 20px;
}

